/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialicons.woff2) format('woff2');
}

body {
  font-family: Roboto, Noto, Helvetica, Arial, sans-serif !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*界面排版*/
.mu-appbar-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

.mu-appbar-header.is-open {
  left: 256px;
}

.mu-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  height: 95%;
  overflow: scroll;
  padding: 5px 0;
}

.mu-container.is-open {
  left: 256px;
}

/*换行*/
p, span, code {
  white-space: normal;
  word-break: break-all;
}

/*文章排版*/
.mu-typo p, .mu-typo pre {
  margin: 0 0 1.2em 0;
}

.mu-typo pre {
  padding: 12px 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 2px;
}

.mu-typo code, kbd, pre, samp {
  font-family: Consolas, Courier, 'Courier New', monospace !important;
}


/*列表打开关闭旋转180度*/
.mu-item__open .toggle-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*滚动条颜色*/
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #BDBDBD;
}

/*列表打开关闭动画效果*/
.toggle-icon {
  color: rgba(0, 0, 0, .54);
  -webkit-transition: -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  transition: -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1), cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0s, 0s;
  transition: transform .3s cubic-bezier(.23, 1, .32, 1);
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1), cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0s, 0s;
  transition: transform .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1), cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0s, 0s;
}

