body {
  font-family: Roboto, Noto, Helvetica, Arial, sans-serif !important;
  height: 100%;
}

/*界面排版*/
.mu-appbar-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

.mu-appbar-header.is-open {
  left: 256px;
}

/*个人信息弹窗*/
.avatar-button .mu-button {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
}

.avatar-button img {
  width: 36px;
  border-radius: 50%;
}

.popover-div {
  height: 192px;
}

.mu-popover {
  max-width: 100% !important;
}

.popover-div .info {
  position: absolute;
  height: 139px;
  padding: 22px 20px;
  width: 100%;
}

.popover-div .info .avatar {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.popover-div .upload-button {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  background-color: rgba(0, 0, 0, 0.26) !important;
}

.popover-div .avatar-upload {
  position: absolute;
  width: 96px;
  height: 96px;
}

.popover-div #upload-avatar {
  display: none;
}

.popover-div .username {
  font-weight: bold;
  line-height: 20px;
  margin-left: 114px;
}

.popover-div .bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.anon-buttons .mu-flat-button {
  height: 36px !important;
  line-height: 36px !important;
  min-width: 88px !important;
}

.mu-container {
  padding-top: 64px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mu-typo a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
}

.mu-typo a:before {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  content: ' ';
  /*background-color: #ff4081;*/
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.mu-typo a:focus:before, .mu-typo a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.scroll-btn {
  user-select: none;
  outline: none;
  -webkit-appearance: none;
  position: fixed !important;
  right: 24px;
  bottom: 60px;
  z-index: 200 !important;
}

/* 移动端 */
@media screen and (max-width: 993px) {
  .popover-div {
    width: 300px;
  }

  .mu-container {
    height: 90%;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /*滚动条颜色*/
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #BDBDBD;
  }

  .login-form .mu-form, .register-form .mu-form {
    margin-top: 24px;
    padding: 0 24px 24px 12px;
  }
}

/* 桌面端 */
@media screen and (min-width: 993px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /*滚动条颜色*/
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #BDBDBD;
  }

  .popover-div {
    width: 330px;
  }

  .popover-div .avatar-upload {
    opacity: 0;
  }

  .popover-div .avatar-upload:hover {
    opacity: 1;
  }

  .mu-container {
    height: 92%;
    margin-top: 10px;
  }

  .login-dialog .mu-dialog-body, .register-dialog .mu-dialog-body {
    padding: 0;
  }

  .login-dialog header, .register-dialog header {
    height: 200px;
    padding-bottom: 136px;
    box-shadow: none;
  }

  .login-form .mu-form, .register-form .mu-form {
    margin-top: 24px;
    padding: 0 40px 62px 24px;
  }

  /*卡片悬浮阴影*/
  .mu-hoverable {
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow
  }

  .mu-hoverable:focus, .mu-hoverable:hover {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
  }
}

.mu-container.is-open {
  padding-left: 256px;
}

/*文章排版*/
.mu-typo p, .mu-typo pre {
  margin: 0 0 1.2em 0;
}

/*X轴滚动条*/
.mu-card-text {
  overflow-x: scroll;
}

.mu-typo pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: pre-wrap;
  word-break: normal;
}

.mu-typo code, kbd, pre, samp {
  font-family: Consolas, Courier, 'Courier New', monospace !important;
}


/*列表打开关闭旋转180度*/
.mu-item__open .toggle-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*列表打开关闭动画效果*/
.toggle-icon {
  color: rgba(0, 0, 0, .54);
  -webkit-transition: -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  transition: transform .3s cubic-bezier(.23, 1, .32, 1);
  transition: -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1), cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0s, 0s;
}

